@charset "UTF-8";
@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:host{
  --fonts-default: 'Myriad Pro', cursive;
}
